<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="PPReportConnection" providerName="odbc_dbadv_alias_report" connectionString="Provider='odbc_dbadv_alias_report';DRIVER={Advantage StreamlineSQL ODBC};DataDirectory=p:\;SERVER=NotTheServer;DefaultType=Advantage;Rows=False;Language=ANSI;AdvantageLocking=ON;Locking=record;MemoBlockSize=512;MaxTableCloseCache=20;ServerTypes=2;TrimTrailingSpaces=TRUE" />
    <add name="MainSystemConnection" providerName="odbc_dbadv_alias" connectionString="Provider='odbc_dbadv_alias';DRIVER={Advantage StreamlineSQL ODBC};DataDirectory=O:\ADCPP2\PerfPrac\DBA;SERVER=NotTheServer;DefaultType=Advantage;Rows=False;Language=ANSI;AdvantageLocking=ON;Locking=record;MemoBlockSize=512;MaxTableCloseCache=20;ServerTypes=2;TrimTrailingSpaces=TRUE" />
    <add name="ScannerConnection" providerName="System.Data.SqlClient" connectionString="Data Source=bpsql2;Initial Catalog=Scanner;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="ErrorMailRecipients" value="cwelch@kasslaw.com" />
  </appSettings>
</configuration>